<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta charset="utf-8">
	<title>辣椒-网址导航</title>
	<link rel="stylesheet" rev="stylesheet" href="/template/default/1234.css" type="text/css">
	<!-- <link href="https://wo99.oss-cn-qingdao.aliyuncs.com/styles/bootstrap/4.1.0/css/bootstrap.min.css" type="text/css">
	<script src="https://wo99.oss-cn-qingdao.aliyuncs.com/styles/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="https://wo99.oss-cn-qingdao.aliyuncs.com/scripts/jquery/3.2.1/jquery.min.js"></script> -->
	<!-- demo -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<style>
		* {
			scrollbar-base-color: #F8F8F8;
			scrollbar-arrow-color: #698CC3;
			font-size: 12px;
			font-family: Verdana;
			font-weight: normal;
			margin: 0px;
			text-decoration: none;
		}

		body {
			margin: 0px;
			padding: 0px;
		}

		frame {
			margin: 0px;
		}

		li,
		ul {
			margin: 0px;
			padding: 0px;
		}

		.link-status {
			font-size: 8px;
			color: red;
		}
	</style>
</head>

<body>
	<div class="container">
		<?php foreach ($category as $categoryItem) : ?>
		<div class="row">
			<div>{$categoryItem['name']}</div>
			<?php foreach ($categoryItem['data'] as $linkItem) : $url = $linkItem['url']; $name = $linkItem['name'];?>
			<div class="col-2">
				<a href="{$url}" target="_blank">{$name}</a>
			</div>
			<?php endforeach; ?>
		</div>
		<?php endforeach; ?>
	</div>


	<hr>


	<div class="category">
		<div class="categoryone"></div>
		<div class="categorytwo"></div>
		<div class="categorythr">
			<?php foreach ($category as $categoryItem) : ?>
			<div class="list">
				<h3 class="title">{$categoryItem['name']}</h3>
				<ul>
					<?php foreach ($categoryItem['data'] as $linkItem) : $url = $linkItem['url']; $name = $linkItem['name'];?>
					<li><a href="{$url}" target="_blank">{$name}</a></li>
					<?php endforeach; ?>
				</ul>
			</div>
			<?php endforeach; ?>
		</div>

		<div class="categoryfor">Copyright &#169; <a href="#">辣椒网址导航</a>
			<span id="poweredakcms">Powered by <a href="#" target="_blank">NAVCMS</a></span>
			<br>
			<a href="#">备案号</a>
			<br>
		</div>
		<div style="clear:both;"></div>
	</div>





</body>

</html>