<!DOCTYPE html>
<html lang="cn">

<head>
	<title>辣椒-网址导航</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<!-- <link rel="stylesheet" rev="stylesheet" href="/template/default/1234.css" type="text/css"> -->
	<script src="https://wo99.oss-cn-qingdao.aliyuncs.com/scripts/jquery/3.2.1/jquery.min.js"></script>
	<link href="https://wo99.oss-cn-qingdao.aliyuncs.com/styles/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://wo99.oss-cn-qingdao.aliyuncs.com/styles/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<?php foreach ($category as $categoryItem) : ?>
		<div class="row">
			<div class="col-12">{$categoryItem['name']}</div>
		</div>
		<div class="row">
			<?php foreach ($categoryItem['data'] as $linkItem) : $url = $linkItem['url']; $name = $linkItem['name'];?>
			<div class="col-6 col-sm-4 col-lg-2 col-xl-2">
				<a href="{$url}" target="_blank">{$name}</a>
			</div>
			<?php endforeach; ?>
		</div>
		<?php endforeach; ?>
	</div>

</body>

</html>