div {
    display: block;
}

.allBodyBorder {
    border: 1px solid;
}

.categoryText {
    color: #FFF;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 2em;
}

.linkItem {
    padding: 0.3em;
}

#nav-plane {
    position: fixed;
    top: 97px;
    right: 50%;
    margin-right: 585px;
    background-color: #FFFFFF;
    overflow: hidden;
}
#nav-plane ul{
    margin: 0px;
    padding: 0px;
}
#nav-plane ul li {
    list-style: none;
    margin: 0px;
    padding: 3px;
    border-top: #FFF;
}

.navTop{
    top: 10px;
}