<link href="/assets/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css" />
<script src="assets/plugins/summernote-master/summernote.min.js"></script>
<div id="app">


    <!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    开始演示模态框
    </button> -->


    <!--Start Page Title-->
    <div class="page-title-box">
        <h4 class="page-title">{$title}</h4>
        <button v-if="this.form.data.ancestral_id" @click="onClickAdd()" type="button"
            class="btn btn-primary pull-right">
            <span class="ion-plus-round"></span>
        </button>
        <div class="clearfix"></div>
    </div>
    <!--End Page Title-->


    <!-- 模态框（Modal） -->
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        {[form.title]}
                    </h4>
                </div>
                <div class="modal-body">

                    <div style="overflow: hidden;">
                        <div class="form-group">
                            <label class="col-md-2 control-label">文章标题</label>
                            <div class="col-md-10">
                                <input v-model="form.data.title" class="form-control" placeholder="文章标题" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">文章类别</label>
                            <div class="col-md-10">
                                <select v-model="form.data.category_id" class="form-control">
                                    <option v-for="v in request.category" :value="v['id']">{[v['name']]}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label">详细内容</label>
                            <div class="col-md-10">
                                <div class="compose-message">
                                    <div id="summernote" class="summernote"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button @click='onClickEnter()' :disabled="loading" type="button" class="btn btn-primary">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <div class="table-wrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>礼堂名称</th>
                                <th>文章类别</th>
                                <th>文章标题</th>
                                <th>详细内容</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in list" class="search-item">
                                <td>{[item['id']]}</td>
                                <td>{[item['ancestral_name']]}</td>
                                <td>{[showCategoryText(item['category_id'])]}</td>
                                <td>{[item['title']]}</td>
                                <td>{[showText(item['content'])]}</td>
                                <td>
                                    <button @click="onClickView(item)" type="button" class="btn btn-purple">预览</button>
                                    <button @click="onClickEdit(item)" type="button" class="btn btn-primary">编辑</button>
                                    <button @click="onClickDelete(item)" type="button"
                                        class="btn btn-danger">删除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- 翻页 -->
    <ul class="pagination m-t-30">
        <li><a href="#" @click="onClickGoPage(1)" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li v-for="index in page['page_count']" :class="{active:index===page['page']}"><a href="javascript:;"
                @click="onClickGoPage(index)">{[index]}</a></li>
        <li><a href="#" @click="onClickGoPage(page.page_count)" aria-label="Next"><span aria-hidden="true">»</span></a>
        </li>
    </ul>

</div>


<!-- style -->
<style>
    .control-label {
        text-align: right;
        line-height: 32px;
    }
</style>


<!-- Vue  -->
<script>
    $(document).ready(function () {

        $('#summernote').summernote({
            height: 240,
            onImageUpload(files, editor, editable) {
                console.log(files);
                let data = new FormData();
                data.append("file", files[0]);
                $.ajax({
                    data: data,
                    type: "POST",
                    url: "/api/upload.php",
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    success(data) {
                        editor.insertImage(editable, data.url);
                    },
                    error() {
                        alert("上传失败");
                    }
                });
            }
        });

    });

    let app = new Vue({
        delimiters: ["{[", "]}"],
        el: '#app',
        data: {
            loading: false,
            list: [],
            page: {
                total: 0,
                page: 0,
                limit: 10,
                page_count: 0
            },
            url: {
                article: '/api/article.php',
                category: '/api/article_category.php',
            },
            form: {
                title: '',
                data: {
                    act: '',
                    id: null,
                    title: '',
                    content: ' ',
                    category_id: 0,
                    ancestral_id: null,
                }
            },
            request: {
                id: null,
                category: null,
            }
        },
        methods: {
            // 点击添加按钮
            onClickAdd() {
                this.form.title = '添加-文章数据';
                this.form.data = {
                    act: 'add',
                    id: null,
                    title: null,
                    content: null,
                    category_id: null,
                    ancestral_id: this.form.data.ancestral_id,
                };
                $('#myModal').modal('show');
                $('.note-editable').html('');
            },
            // 点击编辑按钮
            onClickEdit(item) {
                this.form.title = '编辑-文章数据';
                this.form.data = {
                    act: 'edit',
                    id: item.id,
                    title: item.title,
                    content: item.content,
                    category_id: item.category_id,
                    ancestral_id: item.ancestral_id,
                }
                $("#myModal").modal('show');
                $('.note-editable').html(item.content);
            },
            // 点击删除按钮
            onClickDelete(item) {
                let id = item['id'];
                if (confirm('您 是/否 要删除【编号：' + id + '】的数据？\n请谨慎：删除后不能找回。')) {
                    this.delete(id);
                }
            },
            // 点击预览
            onClickView(item) {
                window.open(`/article_details.php?id=${item['id']}`, '_blank');
            },
            // 点击提交按钮
            onClickEnter() {
                this.form.data.content = $('.note-editable').html();
                console.log(this.form.data)
                if (!this.isCheckForm(this.form.data)) {
                    alert('请检查提交完整数据，再提交！')
                    return;
                }

                if (this.form.data.act === 'add') {
                    this.add();
                } else if (this.form.data.act === 'edit') {
                    this.update();
                }
            },
            // 点击翻页按钮
            onClickGoPage(index) {
                if (index == this.page.page) {
                    console.log('同页不要加载');
                    return;
                }
                this.goPage(index);
            },

            // 删除
            delete(id) {
                this.post(this.url.article, {
                    act: 'del',
                    id: id
                })
            },
            // 更新
            update() {
                this.post(this.url.article, this.form.data);
            },
            // 添加
            add() {
                this.post(this.url.article, this.form.data);
            },
            // 检查表单值
            isCheckForm(data) {
                for (let i in data) {
                    if (i != 'id' && !data[i]) {
                        return false
                    }
                }
                return true
            },

            post(url, params, callback) {
                this.loading = true;
                $.post(url, params, res => {
                    this.loading = false;
                    $("#myModal").modal('hide');
                    this.goPage(this.page.page);
                    // callback(res);
                })
            },
            get(url, params, callback) {
                this.loading = true;
                params.ancestral_id = this.form.data.ancestral_id;
                $.ajax({
                    'url': url,
                    'type': 'GET',
                    'dataType': 'json',
                    'data': params,
                    'success': res => {
                        this.loading = false;
                        callback(res);
                    },
                    'error': err => {
                        this.loading = false;
                        console.log(err);
                        alert(err);
                    }
                })
            },
            getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] == variable) { return pair[1]; }
                }
                return (false);
            },

            filterHtml(html) {
                let len = html.length;
                let resultStr;
                for (let i = 0; i < len; i++) {
                    resultStr = html.replace(/<[^>]+>/g, "");//截取html标签
                    resultStr = resultStr.replace(/ /ig, "");//截取空格等特殊标签
                }
                return resultStr;
            },
            showText(html, max = 20) {
                let text = this.filterHtml(html);
                return text.length > max ? text.substring(0, max) + '...' : text;
            },
            showCategoryText(categoryId) {
                let a = this.request.category;
                for (let i = 0; i < a.length; i++) {
                    if (categoryId === a[i]['id']) {
                        return a[i]['name'];
                    }
                }
                return '';
            },

            // 编辑文章
            editArticle() {
                let id = this.getQueryVariable('id');
                if (id) {
                    this.get(this.url.article, { id: id }, res => {
                        let item = res.data;
                        this.onClickEdit(item);
                    });
                }
            },

            // 获取文章类别
            getCategory() {
                this.get(this.url.category, { limit: 999999 }, res => {
                    this.request.category = res.list;
                })
            },
            // 页面跳转
            goPage(index) {
                let data = { page: index, limit: this.page.limit };
                this.get(this.url.article, data, res => {
                    this.list = res.list;
                    this.page = res.page;
                })
            },
            // 初始化
            init() {
                this.form.data.ancestral_id = this.getQueryVariable('ancestral_id');
                this.getCategory();
                this.goPage(1);
                //从url上获取id编辑文章内容
                this.editArticle();
            }
        },
        mounted() {
            this.init();
        }
    });
</script>