<?php
$PHP_SELF = $SERVER['PHP_SELF'];

$listUrl = '/list.php';
$ancestralUrl = '/ancestral.php';
$articleUrl = '/article.php';
$articleCategoryUrl = '/article_category.php';
$cityUrl = '/city.php';
$memberUrl = '/member.php';
$logoutUrl = '/logout.php';

$listAct = ($PHP_SELF===$listUrl) ? 'class="active"' : '';
$ancestralAct = ($PHP_SELF===$ancestralUrl) ? 'class="active"' : '';
$articleAct = ($PHP_SELF===$articleUrl) ? 'class="active"' : '';
$articleCategoryAct = ($PHP_SELF===$articleCategoryUrl) ? 'class="active"' : '';
$cityAct = ($PHP_SELF===$cityUrl) ? 'class="active"' : '';
$memberAct = ($PHP_SELF===$memberUrl) ? 'class="active"' : '';
$navAct = ($PHP_SELF===$memberUrl OR $PHP_SELF===$cityUrl) ? 'nav-active' : '';

?>

<div class="left-side sticky-left-side">

    <!--logo-->
    <div class="logo">
        <a href="/"><img src="assets/images/logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
        <a href="/"><img src="assets/images/logo-icon.png" alt=""></a>
    </div>
    <!--logo-->

    <div class="left-side-inner">
        <!--Sidebar nav-->
        <ul class="nav nav-pills nav-stacked custom-nav">

            <li <?php echo($listAct);?> ><a href="<?php echo($listUrl);?>"><i class="fa fa-list-alt"></i> <span> 展示列表 </span> </a></li>

            <li <?php echo($ancestralAct);?> ><a href="<?php echo($ancestralUrl);?>"><i class="fa fa-bank"></i> <span> 礼堂管理 </span> </a> </li>

            <!-- <li <?php echo($articleAct);?> ><a href="<?php echo($articleUrl);?>"><i class="fa fa-file-text-o"></i> <span> 文章管理 </span> </a> </li> -->

            <li <?php echo($articleCategoryAct);?> ><a href="<?php echo($articleCategoryUrl);?>"><i class="fa fa-list"></i> <span> 文章类别 </span> </a> </li>

            <li class="menu-list <?php echo($navAct);?>"><a href="#"><i class="icon-wrench"></i> <span> 系统设置 </span></a>
                <ul class="sub-menu-list">
                    <li <?php echo($memberAct);?> ><a href="<?php echo($memberUrl);?>"> 账号管理 </a></li>
                    <li <?php echo($cityAct);?> ><a href="<?php echo($cityUrl);?>"> 城市管理 </a></li>
                </ul>
            </li>

            <li><a href="<?php echo($logoutUrl);?>"><i class="fa fa-sign-out"></i> <span> 退 出 </span></a></li>

        </ul>
        <!--End sidebar nav-->

    </div>
</div>