<div class="main-content">

    <!-- header section start-->
    <div class="header-section">

        <a class="toggle-btn"><i class="fa fa-bars"></i></a>

        <form class="searchform">
            <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
        </form>

        <!--notification menu start -->
        <div class="menu-right">
            <ul class="notification-menu">

                <li>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/images/users/avatar-6.jpg" alt="" />
                        {$member['name']}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li> <a href="/logout.php"> <i class="fa fa-sign-out"></i> 退 出 </a> </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--notification menu end -->

    </div>
    <!-- header section end-->



    <!--body wrapper start-->
    <div class="wrapper">

        <!--Start Page Title-->
        <div class="page-title-box">
            <h4 class="page-title">礼堂管理</h4>
            <!-- <ol class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Chart</a>
                </li>
                <li class="active">
                    Morris Chart
                </li>
            </ol> -->
            <div class="clearfix"></div>
        </div>
        <!--End Page Title-->

        <!--Start row-->
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">

                    {load $templateName}

                </div>
            </div>
        </div>
        <!--End row-->


    </div>
    <!-- End Wrapper-->


    <!--Start  Footer -->
    <footer class="footer-main">Copyright &copy; 2020.Company 剑鱼网络 All rights reserved.<a target="_blank"
            href="http://www.flapp8.com">版权所有</a></footer>
    <!--End footer -->

</div>